<div class="container" id="newQueryBlock">

  <h4 id="forumHeaderParagraph">Are you curious about something? Is your need for the answer just burning you up inside? Click on the button below. You'll be provided with a form to post your question to the forum.</h4>

  {{#if postNewQuery}}

    <form>

      <div class="form-group" id="queryForm">

        <label for="author">Enter your name :</label>
        {{input class="form-control" value=author id="author"}}
      </div>

      <div class="form-group" id="queryForm">

        <label for="query">Enter the question you'd like to ask :</label>
        <h6>Below, you'll have the chance to be more descriptive. For now, keep your question simple. One or two sentences is suggested.</h6>
        {{input class="form-control" value=query id="query"}}
      </div>

      <div class="form-group" id="queryFormNotes">

        <label for="notes">Enter details relating to your query :</label>
        {{textarea class="form-control" value=notes id="notes"}}
      </div>

      <button class="btn btn-default" {{action 'saveQuery'}}>Save</button>
    </form>

  {{else}}

    <button class="btn btn-default" {{action "showForm"}}>ask forum</button>

  {{/if}}
</div>
