{{#if postNewReply}}

<div class="container">
  <form>

      <h4>In a benevolent kind of mood? Is that helping hand of yours burning a hole in your pocket, yearning to break free to be of some sort of assistance? If so, fill out these forms and click submit. You'll be saving lives in no time!</h4>

      <div class="form-group">
        <label for="answer">enter your answer : </label>
        {{input class="form-control" value=answer id="answer"}}
      </div>

      <div class="form-group">
        <label for="author">enter your name : </label>
        {{input class="form-control" value=author id="author"}}
      </div>

      <button class="btn btn-default" {{action 'saveReply'}}>submit</button>

      {{#bs-button type="primary" icon="glyphicon glyphicon-minus" action="hideContent"}}close form{{/bs-button}}

      <hr>

    </form>

  </div>
  {{else}}

  <button class="btn btn-sm btn-success" {{action 'replyFormShow'}} id="postButton">post an answer</button>

{{/if}}
