{{#link-to 'query' query.id}}
  <h4>
    {{query-rating query}} {{query.query}}
  </h4>
  <!-- <button class="btn btn-primary" {{action 'addToFavorites' query}}>save query as favorite</button> -->
{{/link-to}}

<div class="container" onClick={{action 'showContent'}}>

  <div class="row">
    {{#bs-button type="primary" icon="glyphicon glyphicon-plus" action="showContent"}} show details{{/bs-button}}
  </div>

  {{#if detailsVisible}}

    <div class="container">
      <h4>"{{query.notes}}" {{#bs-button type="primary" icon="glyphicon glyphicon-minus" action="hideContent"}}{{/bs-button}}</h4>
    </div>

    {{#link-to 'query' query.id}}
      <button class="btn btn-default">query page</button>
    {{/link-to}}

  {{/if}}
</div>
