  <div>
    <h4>{{query.author}} asks :</h4>
    <h3 id="forum">
      <em>{{query-rating query}} "{{query.query}}"</em>
    </h3>
  </div>

<div class="container" onClick={{action 'showContent'}}>

  <div class="row">
    {{#link-to 'query' query.id}}
      {{#bs-button class="btn btn-success" type="primary" icon="glyphicon glyphicon-puzzle-2" action="showContent"}}go to details page{{/bs-button}}
    {{/link-to}}

    {{#bs-button type="primary" icon="glyphicon glyphicon-plus" action="showContent"}}see more{{/bs-button}}
  </div>

  {{#if detailsVisible}}

    <div class="container">
      <h4 id="forum">
        <em>"{{query.notes}}" {{#bs-button type="primary" icon="glyphicon glyphicon-minus" action="hideContent"}}{{/bs-button}}</em>
      </h4>
    </div>

  {{/if}}
</div>
