<div class="container">

  <div class="jumbotron" onClick={{action 'showContent'}}>

    {{#link-to 'query' query.id}}

      <div class="row">

        <h5>
          {{query.author}} asks:
        </h5>

        <h3>
          "{{query-rating query}} {{query.query}}"
        </h3>

      </div>

    {{/link-to}}

    {{#bs-button type="primary" icon="glyphicon glyphicon-plus" action="showContent"}} show details{{/bs-button}}

    {{#if detailsVisible}}

      <div class="container">

        <h5 class="details-line">
          "{{query.notes}}" {{#bs-button type="primary" icon="glyphicon glyphicon-minus" action="hideContent"}} hide details{{/bs-button}}
        </h5>

      </div>
    {{/if}}

  </div>

  {{update-query query=query update="update"}}

</div>
