{{#if updateQueryForm}}

  <form>
    <div class="form-group">
      <label for="author">edit username</label>
      {{input class="form-control" value=query.author id="query.author"}}
    </div>

    <div class="form-group">
      <label for="query">edit query title</label>
      {{input class="form-control" value=query.query id="query.query"}}
    </div>

    <div class="form-group">
      <label for="notes">edit additional information</label>
      {{textarea class="form-control" value=query.notes id="query.notes"}}
    </div>

    <hr>

    <button class="btn btn-success" {{action "update" query}}>update query</button>

  </form>

{{else}}

  <button class="btn btn-warning" icon="glyphicon glyphicon-pencil" {{action "updateQueryForm"}}>edit query</button>

  {{/if}}



<!-- TODO: look into #bs-buttons ( ie: do they have a trait of which I'm unaware that caused for issues w/ sending actions? )  -->
<!-- {{#bs-button class="btn btn-warning" type="primary" icon="glyphicon glyphicon-pencil" action="updateQuery"}}edit query{{/bs-button}} -->
