{{header-tile}}

  <div class="jumbotron">

    <h2>{{model.author}}</h2>

    {{query-detail query=model deleteQuery="deleteQuery" deleteAnswer="deleteAnswer"}}

    {{new-reply saveReply="saveReply" query=model}}

      <ul class="list-group">

        {{#each model.replies as |reply|}}

          {{answer-tile reply=reply deleteReply="deleteReply"}}

        {{/each}}

      </ul>


    {{update-query query=model update="update"}}

    {{#link-to 'index'}} <h4>return</h4> {{/link-to}}

  </div>

{{footer-tile}}
